[user]
	name   = terwu01
	email  = terran.wu@anshingtek.com.tw
[color]
	ui     = auto
[alias]
	st     = status
	ck     = checkout
	rst    = restore
	br     = branch
	cf     = config
	fc     = fetch
	cm     = commit
	rs     = reset
        rb     = rebase
        rv     = revert
        mg     = merge
        ps     = push
        pl     = pull
        cp     = cherry-pick
        ss     = stash
        ad     = add
        df     = diff
        md     = meld
        cl     = clean
        pr     = pull --rebase
        lg     = log
        tr     = log --graph --oneline --stat
        lg1    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        lg2    = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        us     = reset HEAD --
        ud     = reset --soft HEAD~1
        ls     = log -1 HEAD
        dl     = diff --cached HEAD~1
        bl     = blame
        bc     = branch -r --contains

[diff]
        tool   = meld
[difftool]
        prompt = false
[difftool "meld"]
        path   = /home/terwu01/bin/meld
        cmd    = /home/terwu01/bin/meld "$REMOTE" "$LOCAL"
[pull]
        rebase = true
